body{
    width: 1440px;
    height: 1024px;
    background-color: #ffffff;
}

#Topo{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 1px;
    border-radius: 1px; border: 1px;
    position: fixed;
}

header{
    background-color: rgb(255, 208, 0);
    width: 1440px;
    height: 100px;
    display: inline-flex;
    flex-direction: row;
}

#Logo{
    margin: 10px 100px;
}

nav{
    float: left;
    margin-right: 30px;
}

.Menu{
    width: 50px;
    height: 50px;
    display: inline-flex;
    margin-right: 110px;
    float:left; 
}

.Menu a{
    text-decoration: none;
    color: black;
    text-align: center;
}

#Main-Section{
    background-color: rgb(255, 255, 255);
    width: 1440px;
    height: 824px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Área_de_conteúdo{
    width: 1098px;
    height: 657px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#Divisão_1{
    width: 549px;
    height: 657px;
}

#Divisão_2{
    width: 549px;
    height: 657px;
    display: inline-flex;
    align-items: end; 
    flex-direction: column;
}

#Informações_Receita_1{
    width: 529.5px;
    height: auto;
    text-indent: 15px;
}

#Foto_Receita_1{
    width: 529.5px;
    height: 309px;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 39px;
}

#Informações_Receita_2{
    width: 529.5px;
    height: auto;
    text-indent: 15px;
}

#Foto_Receita_2{
    width: 529.5px;
    height: 309px;
    display: inline-flex;
    flex-direction: column;
}

#Texto_Principal{
    background-color: rgb(221, 80, 104);
    width: 324px;
    height: 608px;
    align-self: center;
}

#Botões{
    display: inline-flex;
    flex-direction: row;
}

.Botões{
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid rgb(255, 136, 0);
    color: orange;
    cursor: pointer;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    text-align: center;
}

.Botões:hover{
    transition: 0.25s;
    background: orange;
    color: white;
}

footer{
    background-color: rgb(255, 208, 0);
    width: 1440px;
    height: 100px;
    border-radius: 1px; border: 1px;
}